/* Small-- Mobile*/
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  @media (max-width: 768px) {
    .header-content {
        .left-header
        {
            display: none !important;
            
            .imag {
                display: none !important;
            }
        }

        .right-header{
            text-align: center;
            margin: 1% 0 5% 15%;
            width: 125%;

            .name{
                font-size: 25px;
            }
        }
                
    }

    .main-btn{
        margin-left: 5%;
        position: absolute;
    }
  }