/* Small-- Mobile*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  /* Start Buttons */
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    // justify-content: center;
    // left: 50%;
    // transform: translateX(-50%);
    width:100%;
    max-width: 367px;
    background-color: var(--color-grey-5);
    

    // top: auto;
    // bottom: 0;
    // flex-direction: row;
    // justify-content: center;
    // left: 29%;
    // transform: translateX(-50%);
    // width: 50%;
    // background-color: var(--color-grey-5);
  }

  .theme-btn {
    width: 50px;
    width:100%;
    max-width: 367px;
    height: 50px;
    display: none;
    // width: 50px;
    // height: 50px;
    // transform: translate(-244px, -47px);
  }

  /* End Buttons */

  /* Start Section 1 (Header) */
  .header-content {
    .left-header {
      display: none !important;

      .imag {
        display: none !important;
      }
    }

    .right-header {
      text-align: center;
      width: 105%;
      margin-left: 27px;
      margin-bottom: 97px;
      font-size: 24px;

      .name {
        font-size: 25px;
      }
    }
  }

  /* End Section 1 (Header) */
  .active{
    width:100%;
    max-width: 367px;
  }
  .section {
    .sec1 {
      .header {
        .active{
          width:100%;
          max-width: 367px;
        }
      }
    }

    .sec2 {
      .about {
        width:100%;
        max-width: 367px;
        margin-right: 0;
      }
    }
  }


  .main-title{
    position: absolute;
    left: 35px;
    margin-right: 0;

    h2{
      font-size: 30px;
      font-weight: 600;
      width: 100%;
      margin-top: -21px;
      margin-right: 0;

      .bg-text{
        font-weight: 700;
        font-size: 2rem;
        transform: translate(-58px,-52px);
        width: 100%;
        line-height: 50px;
        margin-right: 0;
      }
    }
  }

  .about-container{
    width:100%;
    max-width: 367px;
    padding: 0;
    margin: 0;
    transform: translate(-250px, 10px);
    grid-template-columns: max-content 1fr;
    margin-right: 0;

    .left-about{
      padding: 2px;
      width:100%;
      max-width: 367px;
      margin-right: 0;
      

      h4 {
        font-size: 1rem;
        margin-bottom: 8px;
        margin-top: 33px;
        margin-right: 0;
      }

      p {
        padding: 2px;
        line-height: 23px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 0;
      }
    }

    .right-about{
      width: 100%;
      grid-template-columns: max-content 1fr;
      margin-right: 0;

      .about-item{
        width: 100%;
        margin-right: 0;
        .about-text{
          padding: 0;

          .large-text{
            font-size: 1.7rem;
          }

          .small-text{
            padding-left: 2rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .main-btn{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 4px;
  }

  .about-status{
    width: 10px;
    height: 382px;
    .stat-title{
      width: 96px;
      font-size: inherit;
      padding-bottom: 15px;
      transform: translate(-247px, 10px);
    }

    .progress-bars{
      transform: translate(-248px, 10px);
      width: 100%;
      margin-bottom: 0;
    }
  }

  .stat-title{
    width: 118px;
    font-size: inherit;
    padding-bottom: 15px;
    padding-top: 0;
    margin-top: 0px;
    transform: translate(-255px, 10px);
  }

  .timeline{
    grid-template-rows: max-content 3fr;
    margin-left: -307px;
    margin-top: 11px;

    .timeline-item{
      width: max-content;
      .t1-icon{
        display: none;
      }
    }
  }

  /* Start Section 2 (About) */
  /*
  .main-title {
    h2 {
      font-size: 28px;
      font-weight: 600;
      transform: translate(-240px, -26px);
      width: max-content;
      margin-bottom: 15px;

      .bg-text {
        font-size: 25px;
        font-weight: 500;
        right: 2px;
      }
    }
  }

  .about-container {
    .left-about {
      margin-left: -271px;
      margin-top: -72px;

      h4 {
        font-size: 1.4rem;
        padding-right: 67px;
      }

      p {
        width: 132%;
      }

    }

    .right-about {
      grid-gap: 10px;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      margin-left: -314px;
      margin-top: 418px;

      .about-item {
        border-radius: 1px;
        width: min-content;
        height: min-content;

        .about-text {
          padding: 8px;

          .large-text {
            font-size: 30px;
          }

          .small-text {
            font-size: 20px;
            padding-left: 0;
          }
        }
      }
    }
  }


  .main-btn {
    margin-left: 5%;
  }

  .about-status {
    display: flex;
    justify-content: flex-end;
    transform: translate(-55px, -26px);

    .progress-bars {
      width: 133%;
      margin-right: 221px;
      padding-right: 20px;

      .progress-bar {
        width: 123%;
        margin-left: 34px;
      }
    }

    .stat-title {
      position: absolute;
      transform: translate(-121px, -106px);
      color: var(--color-secondary);
      display: flex;
      flex-direction: row;
      width: max-content;
      margin-right: -33px;
      margin-top: 10px;

      &::before {
        display: none;
      }
    }
  }

  .stat-title {
    margin-left: -374px;
    margin-top: -132px;
    color: var(--color-secondary);

    &::before {
      display: none;
    }
  }

  .timeline {
    margin-left: -318px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;

    .timeline-item {

      .t1.icon {
        display: none;
      }
    }
  }
  */

  /* End Section 2 (About) */

  /* Start Section 3 (Portfolios) */

  .port-text {
    padding: 1rem 0;
    padding-top: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: -283px;
    margin-top: 0;
  }

  .portfolios {
    grid-gap: 1rem;
    margin-top: 2rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;

    .portfolio-item {
      border-radius: 5px;
      width: 279px;
      height: 200px;
      margin-left: -255px;
      margin-top: 5%;
      margin-bottom: 243%;
      padding-bottom: 62%;

      .image {
        width: 100%;
        height: 100%;

        img {
          margin-bottom: 20px;
          padding-bottom: 90px;
        }
      }
    }
  }

  /* End Section 3 (Portfolios) */

  /* Start Section 4 (Contact) */

  .contact-content-con {
    .left-contact {
      margin-left: -270px;
      margin-top: -91px;
      display: grid;
      display: flex;
      flex-wrap: wrap;

      .contact-info {
        .contact-item {
          display: inline-block;

          .icon {
            span {
              margin-left: -12px;
              color: var(--color-secondary);
            }
          }

          p {
            line-height: 1.8rem;
            width: 100%;
            margin: 0;
            padding: 0;
          }
        }
      }

      h4 {
        position: fixed;
        margin-top: 592px;
      }
    }
  }

  .right-contact {

    .contact-form {
      position: fixed;
      margin-left: -370px;
      width: 320px;
      margin-top: 535px;
    }
  }
}
/* End Section 4 (Contact) */